html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.snapshot-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    right: 0px;
    border-radius: 15px;
    background: black;
    color: white;
    width: 80px;
    margin-left: -100px;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 24px;
    cursor: pointer;
}
.snapshot-container:hover{
    background: red;
}
.snapshot-container:active {
    background-color: grey;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#instructions {
    position: fixed;
    bottom: 20px;
    left: 50%;
    right: 0px;
    border-radius: 15px;
    background: black;
    color: white;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: uppercase;
}
